/* For use in src/lib/core/theming/_palette.scss */
$om-primary: (
    50 : #fefbf9,
    100 : #efd3bb,
    200 : #e5b58e,
    300 : #d78f54,
    400 : #d17f3b,
    500 : #c1702d,
    600 : #a86227,
    700 : #8f5321,
    800 : #77451c,
    900 : #5e3616,
    A100 : #fef6ef,
    A200 : #fabe8d,
    A400 : #e6883b,
    A700 : #d77c31,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$om-secondary: (
    50 : #fdf4f5,
    100 : #f0b5b7,
    200 : #e7868a,
    300 : #db4b50,
    400 : #d53138,
    500 : #c1272d,
    600 : #a82227,
    700 : #8e1d21,
    800 : #75181b,
    900 : #5b1215,
    A100 : #ffe8e9,
    A200 : #fd8489,
    A400 : #ea3138,
    A700 : #db272e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$om-accent: (
    50 : #ffffff,
    100 : #fff9eb,
    200 : #ffe8b3,
    300 : #ffd26b,
    400 : #ffc94d,
    500 : #ffc02e,
    600 : #ffb70f,
    700 : #f0a700,
    800 : #d19200,
    900 : #b37d00,
    A100 : #ffffff,
    A200 : #ffeec7,
    A400 : #ffcf61,
    A700 : #ffc847,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

